################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IPBSyncAppNetCore/FileContentIndex/b6890b2c-12b2-4020-bbc7-e588769c2306.vsidx
/.vs/IPBSyncAppNetCore/FileContentIndex/7426ad06-c6e3-4f00-9cd2-6c78335fed19.vsidx
