@page "/"
@rendermode InteractiveServer
@using Hangfire
@using IPBSyncAppNetCore.Jobs

<PageTitle>IPB Sync App</PageTitle>

<h2>Aplicatia IPB de sincronizare WME &rarr; WebSite</h2>

@code {
    private int currentCount = 0;

    private void GetStocs()
    {
        currentCount++;
        BackgroundJob.Enqueue(() => new SyncStocksJob().Execute());
    }
}
